@page "/video/{key}"
@rendermode InteractiveServer

@layout ViewLayout

@inject IJSRuntime JS
@inject IVideoRepository videoRepository
@inject IMapper mapper

<div class="viewHeader">
    <div class="row mt-3 mb-1">
        <div class="col-9 mb-2 ps-4">
            <HeadingC Text="Video" />
        </div>
        <div class="col text-center">
            <button class="btnClose mx-2 mt-1" @onclick="@(e => OnButtonClick("close"))">Close Tab</button>
            <AuthorizeView>
                <a href="videoComment/add/@Video.Id" class="btnAdd mx-2 mt-1">Add Comment</a>
            </AuthorizeView>
        </div>
    </div>
</div>

<div class="viewDiv">
    <div class="row">
        <div class="col text-center">
            <div class="divItem">
                <h5 class="mt-1">@Video.YearMonth</h5>
            </div>
        </div>
        <div class="col-6 text-center">
            <div class="divItem">
                <h5>@Video.Title</h5>
            </div>
        </div>
        <div class="col text-center">
            <div class="divItem">
                <h5 class="mt-1">Owner: @Video.Owner</h5>
            </div>
        </div>
    </div>

    <div class="row mt-2">
        @if (!hideBody)
        {
            <div class="col text-center">
                @if (Comments != null && Comments.Count > 0 && showComments == false)
                {
                    <button type="button" @onclick="() => ShowComments()" class="btnShow">Show Comments</button>
                }
            </div>
        }

        <div class="col text-center">
            @if (hideBody)
            {
                <button class="btnGroup" onclick="@(() => SetView("small"))">
                    Small Video
                </button>
            }
        </div>
        <div class="col text-center">
            @if (!hideBody)
            {
                <button class="btnGroup" onclick="@(() => SetView("large"))">
                    Large Video
                </button>
            }
        </div>
    </div>

    <div class="row mt-2">
        @if (!hideBody)
        {
            <div class="col">
                <div class="divItem">
                    @((MarkupString)bodyCol1)
                </div>
                <div class="alert alert-info mt-2">
                    May have to toggle between the Large and Small video view to load the video sufficiently
                    to allow the video to be played.
                </div>
            </div>
            @if (bodyCol2.Length > 0)
            {
                <div class="col">
                    <div class="divItem">
                        @((MarkupString)bodyCol2)
                    </div>
                </div>
            }
            @if (bodyCol3.Length > 0)
            {
                <div class="col">
                    <div class="divItem">
                        @((MarkupString)bodyCol3)
                    </div>
                </div>
            }
        }

        <div class="col">
            @if (!hideBody)
            {
                <div class="row">
                    <div class="col">
                        <video controls="controls" width="100%"><source src="@Video.VideoUrl" /></video>
                    </div>
                </div>
            }
        </div>
    </div>

    @if (hideBody)
    {
        <div class="row mt-2">
            <div class="col">
                <video controls="controls" width="100%"><source src="@Video.VideoUrl" /></video>
            </div>
        </div>
    }

    @if (Comments != null && Comments.Count > 0 && showComments)
    {
        <ViewCommentsC Comments="Comments" />
    }
</div>

@code {
    [Parameter] public string Key { get; set; }
    private VideoDTO Video { get; set; } = new VideoDTO();
    List<CommentDTO> Comments = new List<CommentDTO>();
    string title { get; set; }
    string photoColClass = "col-4";
    bool showComments = false;
    bool hideBody = false;
    string videoSize = "";
    string bodyCol1 = "";
    string bodyCol2 = "";
    string bodyCol3 = "";

    protected override async Task OnParametersSetAsync()
    {
        var video = await videoRepository.GetVideoByKey(Key);
        Video = video;
        if (Video.Comments != null && Video.Comments.Count > 0)
        {
            var comments = mapper.Map<List<VideoCommentDTO>, List<CommentDTO>>(Video.Comments.ToList());
            Comments = comments.ToList();
        }

        if (Video.Remarks.Length > 10)
        {
            bodyCol1 = Video.Remarks;
            string[] cols = bodyCol1.Split("<p>newColumn</p>");

            int colNum = 0;
            foreach (var aCol in cols)
            {
                colNum++;
                if (colNum == 1)
                {
                    bodyCol1 = aCol;
                    photoColClass = "col-3";
                }
                if (colNum == 2)
                {
                    bodyCol2 = aCol;
                    photoColClass = "col-4";
                }
                if (colNum == 3)
                {
                    bodyCol3 = aCol;
                    photoColClass = "col-6";
                }
            }
        }
    }

    private void OnButtonClick(string value)
    {
        JS.InvokeVoidAsync($"window.{value}");
    }

    private void ShowComments()
    {
        showComments = true;
        StateHasChanged();
    }

    private async Task SetView(string viewStr)
    {
        videoSize = viewStr;
        showComments = false;
        if (videoSize == "small")
        {
            hideBody = false;
        }
        else
        {
            hideBody = true;
        }
        StateHasChanged();
    }
}
