@page "/photoFolder/edit/{PhotoFolderId:int}"
@rendermode InteractiveServer

@layout PostEditLayout

@using System.IO;
@inject IPhotoFolderRepository photoFolderRepository
@inject NavigationManager navManager
@attribute [Authorize(Roles = "Admin")]

<div class="row">
    <HeadingC Text="Edit Photo Folder" />
</div>

<EditForm Model="PhotoFolder" OnValidSubmit="UpdatePhotoFolder">
    <DataAnnotationsValidator />
    <StatusMessageC MessageType="@MessageType" MessageBody="@MessageBody" />

    @if (IsLoading)
    {
        <div>
            <h5>Loading ...</h5>
        </div>
    }
    else
    {
        <div class="row mt-3">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label><b>Title</b></label>
                            <InputText @bind-Value="PhotoFolder.Title" class="form-control"></InputText>
                            <ValidationMessage For="() => PhotoFolder.Title"></ValidationMessage>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col">
                        <label>Grouped By</label>
                        <div class="divDisabled">
                            @PhotoFolder.GroupedBy
                        </div>
                    </div>
                    <div class="col">
                        <div class="p-3 text-center">
                            <a href="groupBy/edit/photoFolder/@PhotoFolder.Id" class="btnEdit">Edit Grouped By</a>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col">
                        <label>When</label>
                        <div class="divDisabled">
                            @PhotoFolder.YearMonth
                        </div>
                    </div>
                    <div class="col">
                        <div class="p-3 text-center">
                            <a href="yearMon/edit/photoFolder/@PhotoFolder.Id" class="btnEdit">Edit Year Month</a>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col">
                        <label>Owner</label>
                        <div class="divDisabled">
                            @PhotoFolder.Owner
                        </div>
                    </div>
                    <div class="col">
                        <div class="p-3 text-center">
                            <a href="owner/edit/photoFolder/@PhotoFolder.Id" class="btnEdit">Edit Owner</a>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col">
                        <div class="form-group">
                            <label>Path/Folder</label>
                            <InputText @bind-Value="PhotoFolder.PathFolder" class="form-control"></InputText>
                            <ValidationMessage For="() => PhotoFolder.PathFolder"></ValidationMessage>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group text-center">
                            <label>Show Photo Filenames</label> &nbsp
                            <InputCheckbox @bind-Value="PhotoFolder.ShowFilename" class="form-check-input"></InputCheckbox>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <div class="form-group text-center">
                            <label>Active</label> &nbsp
                            <InputCheckbox @bind-Value="PhotoFolder.Active" class="form-check-input"></InputCheckbox>
                        </div>
                    </div>
                    <div class="col">
                        <div class="divDisabled text-center">
                            @PhotoFolder.PhotoCount
                        </div>
                    </div>
                    <div class="col">
                        <div class="divDisabled text-center">
                            @PhotoFolder.Comments.Count Comment(s)
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <div class="form-group text-center">
                            <button class="btnSave">Save</button>
                            <a href="photoFolders" class="btnReturn ms-3">Return</a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="alertInfo">
                            Save any changes prior to Reviewing Photos or Reviewing Comments.
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col">
                        @if (PhotoFolder.PhotoCount.Length > 0)
                        {
                            <div class="text-center">
                                <button type="button" class="btnReview" onclick="@(() => ShowPhotos())">
                                    Review Photos
                                </button>
                            </div>
                            <div class="alertInfo mt-3">
                                To set the Order, to Edit Captions or to Edit Photo Dates
                            </div>
                        }
                    </div>
                    <div class="col">
                        @if (PhotoFolder.Comments.Count > 0)
                        {
                            <div class="text-center">
                                <a href="photoFolderComments/@PhotoFolder.Id" class="btnReview">Review Comments</a>
                            </div>
                        }
                    </div>
                </div>
            </div>

            <div class="col-5">
                <div class="form-group">
                    <label><b>Remarks</b></label>
                    <RZHtmlEditorLteC @bind-HtmlValue="@PhotoFolder.Remarks" Height="500px" />
                    <ValidationMessage For="() => PhotoFolder.Remarks"></ValidationMessage>
                </div>
                <div class="alert alert-info mt-2">
                    If you would like your long narrative displayed in 2 columns,
                    enter newColumn in a new paragraph at the desired column break point.
                    <br />
                    And if you would like the narrative displayed in 3 columns,
                    enter newColumn again in a new paragraph at the desired column break point.
                </div>
            </div>
        </div>
    }
</EditForm>

<div class="mt-3">
    @if (showPhotos)
    {
        <PFShowPhotos PathFolder="@PathFolder" />
    }
</div>

@code {
    [Parameter]
    public int PhotoFolderId { get; set; }
    public string PathFolder { get; set; }
    private PhotoFolderDTO PhotoFolder { get; set; } = new PhotoFolderDTO();
    public string MessageType { get; set; }
    public string MessageBody { get; set; }
    public bool IsLoading { get; set; } = true;

    bool showPhotos = false;

    protected override async Task OnParametersSetAsync()
    {
        IsLoading = true;

        var photoFolder = await photoFolderRepository.GetPhotoFolder(PhotoFolderId);
        PhotoFolder = photoFolder;
        PathFolder = PhotoFolder.PathFolder;

        IsLoading = false;
    }

    private async Task UpdatePhotoFolder()
    {
        MessageType = "ok";
        MessageBody = "";
        await photoFolderRepository.Update(PhotoFolder);
        MessageBody = "Photo Folder Updated";
        //navManager.NavigateTo("photoFolders");
    }

    private void ShowPhotos()
    {
        showPhotos = true;
        StateHasChanged();
    }
}
