@page "/browseElements"

@layout BrowseLayout

@inject IBaseRepository baseRepository
@attribute [Authorize]

<PageTitle>Browse by Element</PageTitle>

<div class="row ">
    <div class="col-12 mb-2 ">
        <HeadingC Text="Browse Elements" />
    </div>
</div>

@if (tally == null)
{
    <div>
        <h5>Loading ...</h5>
    </div>
}
else
{
    <div class="row mb-3">
        <div class="col  text-center">
            <button class="btnGroup @paActive" onclick="@(() => GetList("photoAlbums"))">
                Photo Albums (@tally.PhotoAlbumCount)
            </button>
        </div>
        <div class="col  text-center">
            <button class="btnGroup @pfActive" onclick="@(() => GetList("photoFolders"))">
                Photo Folders (@tally.PhotoFolderCount)
            </button>
        </div>
        <div class="col  text-center">
            <button class="btnGroup @sActive" onclick="@(() => GetList("snippets"))">
                Snippets (@tally.SnippetCount)
            </button>
        </div>
        <div class="col  text-center">
            <button class="btnGroup @stActive" onclick="@(() => GetList("stories"))">
                Stories (@tally.StoryCount)
            </button>
        </div>
        <div class="col  text-center">
            <button class="btnGroup @vActive" onclick="@(() => GetList("videos"))">
                Videos (@tally.VideoCount)
            </button>
        </div>
    </div>
}

@if (listedElement.Length > 0)
{
    <div class="row ">
        <div class="col-12 mb-2 ">
            <SubHeadingC Text="@listedElement" />
        </div>
    </div>
}

<div class="row ">
    <div class="col"></div>
    <div class="col-11 mb-2 ">
        @if ((videos != null && videos.Any())
        || (photoAlbums != null && photoAlbums.Any())
        || (snippets != null && snippets.Any())
        || (stories != null && stories.Any())
        || (photoFolders != null && photoFolders.Any()))
        {
            prevGroupBy = "zzz";
            <div class="row header-style">
                <div class="col">
                </div>
                <div class="col-5">
                    Title
                </div>
                <div class="col">
                    When
                </div>
                <div class="col">
                    Provider
                </div>
                <div class="col">
                    Updated
                </div>
                <div style="width: 120px;">
                </div>
            </div>

            @foreach (var item in photoAlbums)
            {
                @if (prevGroupBy != item.GroupedBy)
                {
                    <div class="alertInfo">
                        <h4>@item.GroupedBy</h4>
                    </div>
                    prevGroupBy = item.GroupedBy;
                }

                rowCount++;
                rowClass = "rowA";
                if (rowCount % 2 == 0)
                {
                    rowClass = "rowB";
                }
                <div class="row py-1 d-flex align-items-center  @rowClass">
                    <div class="col">
                    </div>
                    <div class="col-5 ">
                        @item.Title
                    </div>
                    <div class="col ">
                        @item.YearMonth
                    </div>
                    <div class="col ">
                        @item.Owner
                    </div>
                    <div class="col ">
                        @item.DateUpdated.ToString("M/d/yyyy")
                    </div>
                    <div class="text-center " style="width: 120px;">
                        <a href="photoAlbum/@item.Key" class="btnView" target="_video">View</a>
                    </div>
                </div>
            }

            @foreach (var item in photoFolders)
            {
                @if (prevGroupBy != item.GroupedBy)
                {
                    <div class="alertInfo">
                        <h4>@item.GroupedBy</h4>
                    </div>
                    prevGroupBy = item.GroupedBy;
                }

                rowCount++;
                rowClass = "rowA";
                if (rowCount % 2 == 0)
                {
                    rowClass = "rowB";
                }
                <div class="row py-1 d-flex align-items-center  @rowClass">
                    <div class="col">
                    </div>
                    <div class="col-5 ">
                        @item.Title
                    </div>
                    <div class="col ">
                        @item.YearMonth
                    </div>
                    <div class="col ">
                        @item.Owner
                    </div>
                    <div class="col ">
                        @item.DateUpdated.ToString("M/d/yyyy")
                    </div>
                    <div class="text-center " style="width: 120px;">
                        <a href="photoFolder/@item.Key" class="btnView" target="_video">View</a>
                    </div>
                </div>
            }

            @foreach (var item in snippets)
            {
                @if (prevGroupBy != item.GroupedBy)
                {
                    <div class="alertInfo">
                        <h4>@item.GroupedBy</h4>
                    </div>
                    prevGroupBy = item.GroupedBy;
                }

                rowCount++;
                rowClass = "rowA";
                if (rowCount % 2 == 0)
                {
                    rowClass = "rowB";
                }
                <div class="row py-1 d-flex align-items-center  @rowClass">
                    <div class="col">
                    </div>
                    <div class="col-5 ">
                        @item.Title
                    </div>
                    <div class="col ">
                        @item.YearMonth
                    </div>
                    <div class="col ">
                        @item.Owner
                    </div>
                    <div class="col ">
                        @item.DateUpdated.ToString("M/d/yyyy")
                    </div>
                    <div class="text-center " style="width: 120px;">
                        <a href="snippet/@item.Key" class="btnView" target="_video">View</a>
                    </div>
                </div>
            }

            @foreach (var item in stories)
            {
                @if (prevGroupBy != item.GroupedBy)
                {
                    <div class="alertInfo">
                        <h4>@item.GroupedBy</h4>
                    </div>
                    prevGroupBy = item.GroupedBy;
                }

                rowCount++;
                rowClass = "rowA";
                if (rowCount % 2 == 0)
                {
                    rowClass = "rowB";
                }
                <div class="row py-1 d-flex align-items-center  @rowClass">
                    <div class="col">
                    </div>
                    <div class="col-5 ">
                        @item.Title
                        @if (item.ChapterCount.Length > 1)
                        {
                            <br />
                            <span class="ps-5">@item.ChapterCount</span>
                        }
                    </div>
                    <div class="col ">
                        @item.YearMonth
                    </div>
                    <div class="col ">
                        @item.Owner
                    </div>
                    <div class="col ">
                        @item.DateUpdated.ToString("M/d/yyyy")
                    </div>
                    <div class="text-center " style="width: 120px;">
                        <a href="story/@item.Key" class="btnView" target="_video">View</a>
                    </div>
                </div>
            }

            @foreach (var item in videos)
            {
                @if (prevGroupBy != item.GroupedBy)
                {
                                <div class="alertInfo">
                                    <h4>@item.GroupedBy</h4>
                                </div>
                    prevGroupBy = item.GroupedBy;
                }

                rowCount++;
                rowClass = "rowA";
                if (rowCount % 2 == 0)
                {
                    rowClass = "rowB";
                }
                        <div class="row py-1 d-flex align-items-center  @rowClass">
                            <div class="col">
                            </div>
                            <div class="col-5 ">
                        @item.Title
                            </div>
                            <div class="col ">
                        @item.YearMonth
                            </div>
                            <div class="col ">
                        @item.Owner
                            </div>
                            <div class="col ">
                        @item.DateUpdated.ToString("M/d/yyyy")
                            </div>
                            <div class="text-center " style="width: 120px;">
                                <a href="video/@item.Key" class="btnView" target="_video">View</a>
                            </div>
                        </div>
            }
        }

    </div>
    <div class="col"></div>
</div>

@code {
    private BrowseDTO browsing { get; set; }
    ElementTally tally = new ElementTally();
    private List<GroupByDTO> groupedBy { get; set; }
    private List<GroupByElementDTO> groupedByElements { get; set; }
    string prevGroupBy = "zzz";
    string groupedByTitle = "";
    string listedElement = "";

    string elementTitle = "";
    string rowClass = "";
    int rowCount = 0;
    bool showList = false;
    string paActive = "";
    string pfActive = "";
    string sActive = "";
    string stActive = "";
    string vActive = "";

    private List<PhotoAlbumDTO> photoAlbums { get; set; }
    private List<PhotoFolderDTO> photoFolders { get; set; }
    private List<SnippetDTO> snippets { get; set; }
    private List<StoryDTO> stories { get; set; }
    private List<VideoDTO> videos { get; set; }

    protected override async Task OnInitializedAsync()
    {
        tally = await baseRepository.GetElementTally();
    }

    private async Task GetList(string byWhat)
    {
        photoAlbums = new List<PhotoAlbumDTO>();
        photoFolders = new List<PhotoFolderDTO>();
        snippets = new List<SnippetDTO>();
        stories = new List<StoryDTO>();
        videos = new List<VideoDTO>();

        var tBrowsing = await baseRepository.GetBrowsing(byWhat);
        browsing = tBrowsing;

        groupedBy = browsing.GroupedBy;
        groupedByElements = browsing.GroupedByElements;

        ClearActive();

        if (byWhat == "photoAlbums")
        {
            paActive = "btnActive";
            listedElement = "Photo Albums / Grouped By";
            elementTitle = "Photo Folders";
            var tPhotoAlbums = await baseRepository.GetPhotoAlbums();
            photoAlbums = tPhotoAlbums.ToList();
        }
        if (byWhat == "photoFolders")
        {
            pfActive = "btnActive";
            listedElement = "Photo Folders / Grouped By";
            elementTitle = "Photo Folders";
            var tPhotoFolders = await baseRepository.GetPhotoFolders();
            photoFolders = tPhotoFolders.ToList();
        }
        if (byWhat == "snippets")
        {
            sActive = "btnActive";
            listedElement = "Snippets / Grouped By";
            elementTitle = "Snippets";
            var tSnippets = await baseRepository.GetSnippets();
            snippets = tSnippets.ToList();
        }
        if (byWhat == "stories")
        {
            stActive = "btnActive";
            listedElement = "Stories / Grouped By";
            elementTitle = "Stories";
            var tStories = await baseRepository.GetStories();
            stories = tStories.ToList();
        }
        if (byWhat == "videos")
        {
            vActive = "btnActive";
            listedElement = "Videos / Grouped By";
            elementTitle = "Videos";
            var tVideos = await baseRepository.GetVideos();
            videos = tVideos.ToList();
        }

        showList = true;
        StateHasChanged();
    }

    private void ClearActive()
    {
        paActive = "";
        pfActive = "";
        sActive = "";
        stActive = "";
        vActive = "";
    }

}

