@page "/snippets"
@rendermode InteractiveServer

@layout PostEditLayout

@inject ISnippetRepository snippetRepository
@inject AuthenticationStateProvider GetAuthenticationStateAsync
@inject IAppUserRepository appUserRepository
@inject NavigationManager navManager
@attribute [Authorize]

<div class="row ">
    <div class="col mb-2 ">
        <HeadingC Text="Snippets" />
    </div>
    <div class="col mb-2">
        @if (groupedBy != null && groupedBy.Count > 0)
        {
            <select value="@selectedGroupBy" class="form-select" @onchange="OnGroupByChanged">
                <option value="">-- Filter By Grouping --</option>
                @foreach (var item in groupedBy)
                {
                    <option value="@item">@item</option>
                }
            </select>
        }
    </div>
    <div class=" mb-2 text-center" style="width: 200px;">
        <a href="snippet/add" class="btnAdd">Add New Snippet</a>
    </div>
</div>

@if (snippets != null && snippets.Any())
{
    <div class="row ">
        <div class="col mt-2">
            <RadzenDataGrid PageSize="15" AllowPaging="true" Data="@snippets" TItem="SnippetDTO"
                            PagerHorizontalAlign="HorizontalAlign.Center">
                <Columns>
                    <RadzenDataGridColumn Property="GroupedBy" Title="Grouped By" HeaderCssClass="rz-background-color-info-lighter" />
                    <RadzenDataGridColumn Property="YearMonth" Title="Year Month" Width="110px"
                                          HeaderCssClass="rz-background-color-info-lighter" />
                    <RadzenDataGridColumn Property="Title" Title="Title" HeaderCssClass="rz-background-color-info-lighter" />
                    <RadzenDataGridColumn Property="WithAudio" Title="With Audio" Width="110px" TextAlign="TextAlign.Center"
                                          HeaderCssClass="rz-background-color-info-lighter" />
                    <RadzenDataGridColumn Property="PhotoCount" Title="Photos" Width="80px" TextAlign="TextAlign.Center"
                                          HeaderCssClass="rz-background-color-info-lighter" />
                    <RadzenDataGridColumn Property="CommentCount" Title="Comments" Width="80px" TextAlign="TextAlign.Center"
                                          HeaderCssClass="rz-background-color-info-lighter" />
                    <RadzenDataGridColumn Property="ActiveStr" Title="Active" Width="80px" TextAlign="TextAlign.Center"
                                          HeaderCssClass="rz-background-color-info-lighter" />

                    <RadzenDataGridColumn Property="Id" Width="70px" TextAlign="TextAlign.Center"
                                          HeaderCssClass="rz-background-color-info-lighter">
                        <Template Context="data">
                            @{
                                var link = "snippet/edit/" + data.Id;
                            }
                            <RadzenLink Path=@link Text="Edit" />
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn Property="Id" Width="70px" HeaderCssClass="rz-background-color-info-lighter">
                        <Template Context="data">
                            <RadzenButton ButtonStyle="ButtonStyle.Danger" Variant="Variant.Flat" Shade="Shade.Lighter" Icon="delete" class="m-1"
                                          Click=@(() => DeleteSnippet(data.Id)) />
                        </Template>
                    </RadzenDataGridColumn>
                </Columns>
            </RadzenDataGrid>
        </div>
    </div>
}

@if (DeleteDialogOpen)
{
    <DeleteModalC Text="@Text" OnClose="@OnDeleteDialogClose" />
}

@code {
    private List<SnippetDTO> snippets { get; set; } = new List<SnippetDTO>();
    private List<SnippetDTO> allSnippets { get; set; } = new List<SnippetDTO>();
    private int DeleteSnippetId { get; set; } = 0;
    private string groupedByPrev = "zzz";
    private List<string> groupedBy;
    private string userEmail = "";
    private string userRole = "";
    string selectedGroupBy = "";
    string selectedDecade = "";

    protected override async Task OnInitializedAsync()
    {
        await LoadSnippets();

        var authstate = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
        var user = authstate.User;
        userEmail = user.Identity.Name;
        var appUser = await appUserRepository.GetUserByEmail(userEmail);
        if (appUser != null)
        {
            userRole = appUser.Role;
        }
    }

    private async Task LoadSnippets()
    {
        var tSnippets = await snippetRepository.GetSnippets();
        allSnippets = tSnippets.ToList();

        groupedBy = allSnippets.OrderBy(q => q.GroupedBy).Select(q => q.GroupedBy).ToList();
        groupedBy = groupedBy.AsQueryable().Distinct().ToList();
    }

    async Task DeleteSnippet(int Id)
    {
        OpenDeleteSnippetDialog(Id);
    }

    public bool DeleteDialogOpen { get; set; }
    public string Text { get; set; }

    async Task OnDeleteDialogClose(bool accepted)
    {
        if (accepted)
        {
            await snippetRepository.Delete(DeleteSnippetId);
            DeleteDialogOpen = false;
            await LoadSnippets();
            snippets = new List<SnippetDTO>();
        }
        DeleteDialogOpen = false;
        StateHasChanged();
    }

    private void OpenDeleteSnippetDialog(int id)
    {
        DeleteDialogOpen = true;
        DeleteSnippetId = id;
        Text = "Do you want to delete this Snippet?";
        StateHasChanged();
    }

    private void OnGroupByChanged(ChangeEventArgs e)
    {
        selectedGroupBy = e.Value.ToString();
        snippets = allSnippets.Where(q => q.GroupedBy == selectedGroupBy).ToList();
        StateHasChanged();
    }
}
