@page "/browseSnippets"
@rendermode InteractiveServer

@layout BrowseLayout

@inject ISnippetRepository snippetRepository

@inject NavigationManager navManager
@attribute [Authorize]

<div class="row ">
    <div class="col mb-2 ">
        <HeadingC Text="Snippets" />
    </div>
    <div class="col mb-2 ">
        @if (groupedBy != null && groupedBy.Count > 0)
        {
            <select value="@selectedGroupBy" class="form-select" @onchange="OnGroupByChanged">
                <option value="">-- Filter By Grouping --</option>
                @foreach (var item in groupedBy)
                {
                    <option value="@item">@item</option>
                }
            </select>
        }
    </div>
    <div class="col mb-2 ">
        @if (decades != null && decades.Count > 0)
        {
            <select value="@selectedDecade" class="form-select" @onchange="OnDecadeChanged">
                <option value="">-- Filter By Decade --</option>
                @foreach (var item in decades)
                {
                    <option value="@item">@item</option>
                }
            </select>
        }
    </div>
</div>

@if (showList)
{
    <div class="row mt-2">
        <div class="col">
            @foreach (var snippet in Snippets)
            {
                <div class="m-2" style="float: left;">
                    <a href="snippet/@snippet.Key" class="btnList" target="_snippet">@snippet.Title</a>
                </div>
            }
        </div>
    </div>
}

@if (snippets != null && snippets.Count > 0)
{
    <div class="row ">
        <div class="col mt-2">
            <RadzenDataGrid PageSize="15" AllowPaging="true" Data="@snippets" TItem="SnippetDTO" 
                PagerHorizontalAlign="HorizontalAlign.Center">
                <Columns>
                    <RadzenDataGridColumn Property="GroupedBy" Title="Grouped By" HeaderCssClass="rz-background-color-info-lighter" />
                    <RadzenDataGridColumn Property="YearMonth" Title="Year Month" Width="110px" 
                        HeaderCssClass="rz-background-color-info-lighter" />
                    <RadzenDataGridColumn Property="Title" Title="Title" HeaderCssClass="rz-background-color-info-lighter" />
                    <RadzenDataGridColumn Property="WithAudio" Title="With Audio" Width="110px" TextAlign="TextAlign.Center"
                        HeaderCssClass="rz-background-color-info-lighter" />
                    <RadzenDataGridColumn Property="PhotoCount" Title="Photo Count" Width="110px" TextAlign="TextAlign.Center"
                                          HeaderCssClass="rz-background-color-info-lighter" />
                    <RadzenDataGridColumn Property="CommentCount" Title="Comment Count" Width="110px" TextAlign="TextAlign.Center"
                                          HeaderCssClass="rz-background-color-info-lighter" />
                    <RadzenDataGridColumn Property="Id" Width="80px" TextAlign="TextAlign.Center"
                        HeaderCssClass="rz-background-color-info-lighter">
                        <Template Context="data">
                            @{
                                var link = "snippet/" + data.Key;
                            }
                            <RadzenLink Path=@link Text="View" Target="_snippet" />
                        </Template>
                    </RadzenDataGridColumn>
                </Columns>
            </RadzenDataGrid>
        </div>
    </div>
}

@code {
    private List<SnippetDTO> snippets;
    private List<SnippetDTO> allSnippets;
    private List<SnippetDTO> Snippets = new List<SnippetDTO>();
    private List<string> groupedBy;
    private List<string> decades;
    bool showList = true;
    string selectedGroupBy = "";
    string selectedDecade = "";

    protected override async Task OnInitializedAsync()
    {
        await LoadSnippets();

        Snippets = allSnippets.OrderBy(o => o.Title).ToList();

        groupedBy = allSnippets.OrderBy(q => q.GroupedBy).Select(q => q.GroupedBy).ToList();
        groupedBy = groupedBy.AsQueryable().Distinct().ToList();

        decades = allSnippets.OrderBy(q => q.Decade).Select(q => q.Decade).ToList();
        decades = decades.AsQueryable().Distinct().ToList();
    }

    private async Task LoadSnippets()
    {
        var tSnippets = await snippetRepository.GetActiveSnippets();
        allSnippets = tSnippets.ToList();
    }

    private void OnGroupByChanged(ChangeEventArgs e)
    {
        showList = false;
        selectedDecade = "";
        selectedGroupBy = e.Value.ToString();
        snippets = allSnippets.Where(q => q.GroupedBy == selectedGroupBy).ToList();
        StateHasChanged();
    }

    private void OnDecadeChanged(ChangeEventArgs e)
    {
        showList = false;
        selectedGroupBy = "";
        selectedDecade = e.Value.ToString();
        snippets = allSnippets.Where(q => q.Decade == selectedDecade).ToList();
        StateHasChanged();
    }
}
