@page "/phoneDocs"
@rendermode InteractiveServer

@layout PhoneLayout

@inject IDocRepository docRepository

@inject NavigationManager navManager
@attribute [Authorize]

<div class="">
    <HeadingC Text="Documents" />
</div>
<div class="mt-2">
    @if (groupedBy != null && groupedBy.Count > 0)
    {
        <select value="@selectedGroupBy" class="form-select" @onchange="OnGroupByChanged">
            <option value="">-- Filter By Grouping --</option>
            @foreach (var item in groupedBy)
            {
                <option value="@item">@item</option>
            }
        </select>
    }
</div>
<div class="mt-2">
    @if (decades != null && decades.Count > 0)
    {
        <select value="@selectedDecade" class="form-select" @onchange="OnDecadeChanged">
            <option value="">-- Filter By Decade --</option>
            @foreach (var item in decades)
            {
                <option value="@item">@item</option>
            }
        </select>
    }
</div>

@if (showList)
{
    <div class="row mt-2">
        <div class="col">
            @foreach (var doc in Docs)
            {
                <div class="m-2" style="float: left;">
                    <a href="phoneDoc/@doc.Key" class="btnList">@doc.Title</a>
                </div>
            }
        </div>
    </div>
}

@if (docs != null && docs.Count > 0)
{
    <div class="mt-2">
        <RadzenDataGrid Data="@docs" TItem="DocDTO"
                        PagerHorizontalAlign="HorizontalAlign.Center">
            <Columns>
                <RadzenDataGridColumn Property="YearMonth" Title="Year Month" Width="110px"
                                      HeaderCssClass="rz-background-color-info-lighter" />
                <RadzenDataGridColumn Property="Title" Title="Title" HeaderCssClass="rz-background-color-info-lighter" />
                <RadzenDataGridColumn Property="Id" Width="80px" TextAlign="TextAlign.Center"
                                      HeaderCssClass="rz-background-color-info-lighter">
                    <Template Context="data">
                        @{
                            var link = "phoneDoc/" + data.Key;
                        }
                        <RadzenLink Path=@link Text="View" Target="_doc" />
                    </Template>
                </RadzenDataGridColumn>
            </Columns>
        </RadzenDataGrid>
    </div>
}

@code {
    private List<DocDTO> docs;
    private List<DocDTO> allDocs;
    private List<DocDTO> Docs = new List<DocDTO>();
    private List<string> groupedBy;
    private List<string> decades;
    string selectedGroupBy = "";
    string selectedDecade = "";
    bool showList = true;

    protected override async Task OnInitializedAsync()
    {
        await LoadDocs();

        Docs = allDocs.OrderBy(o => o.Title).ToList();

        groupedBy = allDocs.OrderBy(q => q.GroupedBy).Select(q => q.GroupedBy).ToList();
        groupedBy = groupedBy.AsQueryable().Distinct().ToList();

        decades = allDocs.OrderBy(q => q.Decade).Select(q => q.Decade).ToList();
        decades = decades.AsQueryable().Distinct().ToList();
    }

    private async Task LoadDocs()
    {
        var tDocs = await docRepository.GetActiveDocs();
        allDocs = tDocs.ToList();
    }

    private void OnGroupByChanged(ChangeEventArgs e)
    {
        showList = false;
        selectedDecade = "";
        selectedGroupBy = e.Value.ToString();
        docs = allDocs.Where(q => q.GroupedBy == selectedGroupBy).ToList();
        StateHasChanged();
    }

    private void OnDecadeChanged(ChangeEventArgs e)
    {
        showList = false;
        selectedGroupBy = "";
        selectedDecade = e.Value.ToString();
        docs = allDocs.Where(q => q.Decade == selectedDecade).ToList();
        StateHasChanged();
    }
}
