@page "/tripPhotos/{tripId:int}"

@layout EditLayout
@inject ITripRepository tripRepository
@attribute [Authorize]

<div class="row  mb-2 pt-2">
    <div class="col-10">
        <HeadingC Text="Trip Photos: Caption - Photo - Order #" />
    </div>
    <div class="col text-center">
        <a href="trip/edit/@TripId" class="btnReturn">Return</a>
    </div>
</div>

@if (Trip != null && Photos != null && Photos.Any())
{
    <div class="row ">
        <div class="col text-center">
            Trip: <b>@Trip.Title</b>
        </div>
    </div>
    <div class="row mt-3">
        @foreach (var item in Photos)
        {
            <div class="col-4">
                <div class="photoCard">
                    <div class="photoCaption text-center">
                        @item.Caption
                    </div>
                    <div class="photoBody text-center">
                        <img src="@item.PhotoUrl" class="img-fluid photoBorder" />
                    </div>
                    <div class="photoFooter">
                        <div class="row">
                            <div class="col text-center">
                                @item.Sort
                            </div>
                            <div class="col text-end">
                                <a href="@($"tripPhoto/edit/{item.Id}")" class="btnEdit">Edit</a>
                                <button type="button" class="btnDelete btn-sm" onclick="@(() => OpenDeleteTripPhotoDialog(item.Id))">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}

@if (DeleteDialogOpen)
{
    <DeleteModalC Text="@Text" OnClose="@OnDeleteDialogClose" />
}

@code {
    [Parameter] public int TripId { get; set; }
    private TripDTO Trip { get; set; } = new TripDTO();
    List<TripPhotoDTO> Photos { get; set; } = new List<TripPhotoDTO>();
    private int DeleteTripPhotoId { get; set; } = 0;

    protected async override Task OnParametersSetAsync()
    {
        var trip = await tripRepository.GetTrip(TripId);
        Trip = trip;

        await LoadTripPhotos();
        StateHasChanged();
    }

    private async Task LoadTripPhotos()
    {
        var photos = await tripRepository.GetTripPhotos(TripId);
        Photos = photos.ToList();
    }

    public bool DeleteDialogOpen { get; set; }
    public string Text { get; set; }

    async Task OnDeleteDialogClose(bool accepted)
    {
        if (accepted)
        {
            await tripRepository.DeletePhoto(DeleteTripPhotoId);
            DeleteDialogOpen = false;
            await LoadTripPhotos();
        }
        DeleteDialogOpen = false;
        StateHasChanged();
    }

    private void OpenDeleteTripPhotoDialog(int id)
    {
        DeleteDialogOpen = true;
        DeleteTripPhotoId = id;
        Text = "Do you want to delete this Trip Photo?";
        StateHasChanged();
    }

}
