@page "/tripGroupPhotos/{groupId:int}"

@layout EditLayout
@inject ITripRepository tripRepository
@attribute [Authorize]

<div class="row  mb-2 pt-2">
    <div class="col-10">
        <HeadingC Text="Trip Group Photos: Caption - Photo - Order #" />
    </div>
    <div class="col text-center">
        <a href="tripGroup/edit/@GroupId" class="btnReturn">Return</a>
    </div>
</div>

@if (Group != null && Photos != null && Photos.Any())
{
    <div class="row ">
        <div class="col text-center">
            Trip: <b>@Group.Trip.Title</b>
        </div>
        <div class="col text-center">
            Group: <b>@Group.Name</b>
        </div>
    </div>
    <div class="row mt-3">
        @foreach (var item in Photos)
        {
            <div class="col-4">
                <div class="photoCard">
                    <div class="photoCaption text-center">
                        @item.Caption
                    </div>
                    <div class="photoBody text-center">
                        <img src="@item.PhotoUrl" class="img-fluid photoBorder" />
                    </div>
                    <div class="photoFooter">
                        <div class="row">
                            <div class="col text-center">
                                @item.Sort
                            </div>
                            <div class="col text-end">
                                <a href="@($"tripElementPhotoEdit/Group/{Group.Id}/{item.Id}")" class="btnEdit">Edit</a>
                                <button type="button" class="btnDelete btn-sm" onclick="@(() => OpenDeleteGroupPhotoDialog(item.Id))">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}

@if (DeleteDialogOpen)
{
    <DeleteModalC Text="@Text" OnClose="@OnDeleteDialogClose" />
}

@code {
    [Parameter] public int GroupId { get; set; }
    private TripGroupDTO Group { get; set; } = new TripGroupDTO();
    List<TripPhotoDTO> Photos { get; set; } = new List<TripPhotoDTO>();
    private int DeleteGroupPhotoId { get; set; } = 0;

    protected async override Task OnParametersSetAsync()
    {
        var group = await tripRepository.GetGroup(GroupId);
        Group = group;

        await LoadGroupPhotos();
        StateHasChanged();
    }

    private async Task LoadGroupPhotos()
    {
        var photos = await tripRepository.GetGroupPhotos(GroupId);
        Photos = photos.ToList();
    }

    public bool DeleteDialogOpen { get; set; }
    public string Text { get; set; }

    async Task OnDeleteDialogClose(bool accepted)
    {
        if (accepted)
        {
            await tripRepository.DeletePhoto(DeleteGroupPhotoId);
            DeleteDialogOpen = false;
            await LoadGroupPhotos();
        }
        DeleteDialogOpen = false;
        StateHasChanged();
    }

    private void OpenDeleteGroupPhotoDialog(int id)
    {
        DeleteDialogOpen = true;
        DeleteGroupPhotoId = id;
        Text = "Do you want to delete this Trip Group Photo?";
        StateHasChanged();
    }

}
