@page "/tripSubSection/edit/{SubSectionId:int}"
@rendermode InteractiveServer

@layout PostEditLayout

@inject ITripRepository tripRepository
@inject IFileUpload fileUpload
@inject NavigationManager navManager
@attribute [Authorize]

<div class="row">
    <HeadingC Text="Edit Trip SubSection" />
</div>

<EditForm Model="TripSubSection" OnValidSubmit="UpdateSubSection">
    <DataAnnotationsValidator />
    <StatusMessageC MessageType="@MessageType" MessageBody="@MessageBody" />

    @if (IsLoading)
    {
        <div class="mt-3">
            <h5>Loading ...</h5>
        </div>
    }
    else
    {
        <div class="row mt-3">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label><b>Name</b></label>
                            <InputText @bind-Value="TripSubSection.Name" class="form-control"></InputText>
                            <ValidationMessage For="() => TripSubSection.Name"></ValidationMessage>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col">
                        <div class="form-group">
                            <label>Sort</label>
                            <InputNumber @bind-Value="TripSubSection.Sort" class="form-control"></InputNumber>
                            <ValidationMessage For="() => TripSubSection.Sort"></ValidationMessage>
                        </div>
                    </div>
                    <div class="col">
                    </div>
                    <div class="col">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                    </div>
                    <div class="col">
                        <div class="divDisabled text-center">
                            @TripSubSection.TripPhotos.Count Photo(s)
                        </div>
                    </div>
                    <div class="col">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <div class="form-group text-center">
                            <button class="btnSave">Save</button>
                            <a href="trips" class="btnReturn ms-3">Return</a>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="alertInfo">
                        Save after uploading photos and after any changes.
                        <br />
                        Also, Save any changes prior to Reviewing Photos or Reviewing Comments.
                    </div>
                    <div class="alertInfo mt-2">
                        If you would like your long narrative displayed in 2 columns,
                        enter newColumn in a new paragraph at the desired column break point.
                        <br />
                        And if you would like the narrative displayed in 3 columns,
                        enter newColumn again in a new paragraph at the desired column break point.
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col">
                        @if (TripSubSection.TripPhotos.Count > 0)
                        {
                            <div class="text-center">
                                <a href="tripSubSectionPhotos/@TripSubSection.Id" class="btnReview">Review Photos</a>
                            </div>
                            <div class="alertInfo mt-3">
                                To set the Order or Edit Captions
                            </div>
                        }
                    </div>
                    <div class="col">
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label><b>Trip SubSection Note</b></label>
                    <RZHtmlEditorLteC @bind-HtmlValue="@TripSubSection.Note" Height="600px" />
                    <ValidationMessage For="() => TripSubSection.Note"></ValidationMessage>
                </div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-12">
                <div class="mb-2">Trip SubSection Photos</div>
                <div class="form-group">
                    <InputFile accept=".jpg,.jpeg,.png,.gif" OnChange="HandlePhotoUpload" multiple></InputFile>
                    <div class="row">
                        @if (IsImageUploadProcessStarted)
                        {
                            <div class="col-md-12">
                                <span><i class="fa fa-spin fa-spinner"></i> Please wait.. Images are uploading...</span>
                            </div>
                        }
                        @if (TripSubSection.PhotoUrls != null && TripSubSection.PhotoUrls.Count > 0)
                        {
                            int serial = 1;
                            foreach (var photo in TripSubSection.PhotoUrls)
                            {
                                <div class="col-3 mt-3">
                                    <div class="photo-edit">
                                        <img src="@photo" class="w-100" />
                                        <span class="photo-edit-title">@serial</span>
                                    </div>

                                    <button type="button" @onclick="()=>DeletePhoto(photo)" class="btnDelete mt-4">
                                        Delete
                                    </button>
                                </div>
                                serial++;
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-6">
                <div class="alertInfo">
                    May upload multiple .jpg, .png and .gif files
                    <br />
                    Use ctrl key to select multiple files for upload, or upload 1 at a time
                    <br />
                    Max file size is 2 mb
                    <br />
                    Max upload size is 5 mb
                    <br />
                    Recommend reducing the image to less than 1 mb prior to uploading
                </div>
            </div>
        </div>
    }
</EditForm>

@code {
    [Parameter] public int SubSectionId { get; set; }
    private TripGroupDTO TripGroup { get; set; } = new TripGroupDTO();
    private TripSectionDTO TripSection { get; set; } = new TripSectionDTO();
    private TripSubSectionDTO TripSubSection { get; set; } = new TripSubSectionDTO();

    public bool IsProcessing { get; set; } = false;
    public bool IsImageUploadProcessStarted { get; set; }
    public bool IsLoading { get; set; } = true;
    public string MessageType { get; set; }
    public string MessageBody { get; set; }
    public string Wysiwyg { get; set; }
    private TripPhotoDTO TripPhoto { get; set; } = new TripPhotoDTO();
    private List<string> DeletedPhotoNames { get; set; } = new List<string>();
    string imageType = "";
    private long maxUploadSize = 1024 * 1024 * 5;
    private long maxFileSize = 1024 * 1024 * 2;
    bool errorFileSize = false;
    bool errorUploadSize = false;
    long uploadSize = 0;

    protected override async Task OnParametersSetAsync()
    {
        IsLoading = true;

        await GetTripSubSection();

        IsLoading = false;
    }

    private async Task GetTripSubSection()
    {
        TripGroup = new TripGroupDTO();
        TripSection = new TripSectionDTO();
        TripSubSection = new TripSubSectionDTO();
        DeletedPhotoNames = new List<string>();

        var tripSubSection = await tripRepository.GetSubSection(SubSectionId);
        TripSubSection = tripSubSection;

        if (TripSubSection?.TripPhotos != null)
        {
            TripSubSection.PhotoUrls = TripSubSection.TripPhotos
                .OrderBy(q => q.Sort)
                .ThenBy(q => q.Caption)
                .Select(u => u.PhotoUrl)
                .ToList();
        }

        var tripSection = await tripRepository.GetSection(TripSubSection.TripSection.Id);
        TripSection = tripSection;

        var tripGroup = await tripRepository.GetGroup(TripSection.TripGroup.Id);
        TripGroup = tripGroup;
    }

    private async Task UpdateSubSection()
    {
        IsProcessing = true;
        MessageType = "ok";
        MessageBody = "";

        var updateSubSectionResult = await tripRepository.UpdateSubSection(TripSubSection);
        if ((TripSubSection.PhotoUrls != null && TripSubSection.PhotoUrls.Any()) || (DeletedPhotoNames != null && DeletedPhotoNames.Any()))
        {
            if (DeletedPhotoNames != null && DeletedPhotoNames.Any())
            {
                foreach (var deletedPhotoName in DeletedPhotoNames)
                {
                    var photoName = deletedPhotoName.ToLower();
                    photoName = photoName.Replace("tripphotos/", "");

                    var result = fileUpload.DeleteFile(photoName, "tripPhotos");
                    await tripRepository.DeletePhotoByPhotoUrl(deletedPhotoName);
                }
            }

            await AddSubSectionPhoto(updateSubSectionResult);
        }

        await GetTripSubSection();

        MessageBody = "Trip SubSection Updated";
        IsProcessing = false;
    }

    private async Task HandlePhotoUpload(InputFileChangeEventArgs e)
    {
        IsProcessing = true;
        IsProcessing = true;
        MessageType = "";
        MessageBody = "";
        errorFileSize = false;
        errorUploadSize = false;
        uploadSize = 0;

        if (e.GetMultipleFiles().Count > 0)
        {
            foreach (var file in e.GetMultipleFiles())
            {
                if (file.Size > maxFileSize)
                {
                    errorFileSize = true;
                }
                uploadSize += file.Size;
                if (uploadSize > maxUploadSize)
                {
                    errorUploadSize = true;
                }
            }

            if (errorFileSize == true || errorUploadSize == true)
            {
                MessageType = "error";
                if (errorFileSize)
                {
                    MessageBody += "One or more of the uploaded files is larger than 2 mb.  ";
                }
                if (errorUploadSize)
                {
                    MessageBody += "Attempted to upload more than 5 mb.";
                }
            }
            else
            {
                var photos = new List<string>();

                foreach (var file in e.GetMultipleFiles())
                {
                    System.IO.FileInfo fileInfo = new System.IO.FileInfo(file.Name);

                    if (fileInfo.Extension.ToLower() == ".jpeg")
                    {
                        imageType = "image/jpeg";
                    }
                    else if (fileInfo.Extension.ToLower() == ".jpg")
                    {
                        imageType = "image/jpg";
                    }
                    else if (fileInfo.Extension.ToLower() == ".png")
                    {
                        imageType = "image/png";
                    }
                    else if (fileInfo.Extension.ToLower() == ".gif")
                    {
                        imageType = "image/gif";
                    }

                    var imageFile = await file.RequestImageFileAsync(imageType, maxWidth: 1000, maxHeight: 750);

                    var uploadedImage = await fileUpload.UploadFile(imageFile, "tripPhotos");
                    var uploadedImagePath = $"tripPhotos/{uploadedImage}";

                    photos.Add(uploadedImagePath);
                }

                if (photos.Any())
                {
                    if (TripSubSection.PhotoUrls != null && TripSubSection.PhotoUrls.Any())
                    {
                        TripSubSection.PhotoUrls.AddRange(photos);
                    }
                    else
                    {
                        TripSubSection.PhotoUrls = new List<string>();
                        TripSubSection.PhotoUrls.AddRange(photos);
                    }
                }
            }
        }

        IsProcessing = false;
    }

    private async Task AddSubSectionPhoto(TripSubSectionDTO subSectionDTO)
    {
        IsProcessing = true;
        foreach (var photoUrl in TripSubSection.PhotoUrls)
        {
            if (TripSubSection.TripPhotos == null || TripSubSection.TripPhotos.Where(x => x.PhotoUrl == photoUrl).Count() == 0)
            {
                TripPhoto = new TripPhotoDTO()
                    {
                        TripId = TripGroup.Trip.Id,
                        TripGroupId = TripGroup.Id,
                        TripSectionId = TripSection.Id,
                        TripSubSectionId = subSectionDTO.Id,
                        PhotoUrl = photoUrl
                    };
                await tripRepository.CreatePhoto(TripPhoto);
            }
        }
        IsProcessing = false;
    }

    internal void DeletePhoto(string photoUrl)
    {
        IsProcessing = true;
        var photoIndex = TripSubSection.PhotoUrls.FindIndex(x => x == photoUrl);
        var photoName = photoUrl.ToLower();
        photoName = photoName.Replace("tripphotos/", "");

        DeletedPhotoNames ??= new List<string>();
        DeletedPhotoNames.Add(photoUrl);

        TripGroup.PhotoUrls.RemoveAt(photoIndex);
        IsProcessing = false;
        StateHasChanged();
    }
}
