@page "/job/{id:int}"
@rendermode InteractiveServer

@layout ViewLayout

@inject IJSRuntime JS
@inject IJobRepository jobRepository
@inject IMapper mapper
@attribute [Authorize]

<div class="viewHeader">
    <div class="row mt-3 mb-1">
        <div class="col-9 mb-2 ps-4">
            <HeadingC Text="Job" />
        </div>
        <div class="col text-center">
            <button class="btnClose mx-2 mt-1" @onclick="@(e => OnButtonClick("close"))">Close Tab</button>
            <AuthorizeView>
                <a href="jobComment/add/@Job.Id" class="btnAdd mx-2 mt-1">Add Comment</a>
            </AuthorizeView>
        </div>
    </div>
</div>

<div class="viewDiv">
    <div class="row">
        <div class="col text-center">
            <div class="divItem">
                <h5 class="mt-1">Start: @Job.YearMonth</h5>
            </div>
        </div>
        <div class="col-6 text-center">
            <div class="divItem">
                <h5>Employer: @Job.Employer</h5>
                <h5>Position: @Job.Position</h5>
            </div>
        </div>
        <div class="col text-center">
            <div class="divItem">
                <h5 class="mt-1">For Whom: @Job.Who</h5>
            </div>
        </div>
    </div>

    @if (Job.Remarks.Length > 10)
    {
        <div class="row mt-2">
            @if (bodyCol3.Length == 0)
            {
                <div class="col-6">
                    <div class="divItem">
                        @((MarkupString)bodyCol1)
                    </div>
                </div>
                @if (bodyCol2.Length > 0)
                {
                    <div class="col">
                        <div class="divItem">
                            @((MarkupString)bodyCol2)
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="col">
                    <div class="divItem">
                        @((MarkupString)bodyCol1)
                    </div>
                </div>
                <div class="col">
                    <div class="divItem">
                        @((MarkupString)bodyCol2)
                    </div>
                </div>
                <div class="col">
                    <div class="divItem">
                        @((MarkupString)bodyCol3)
                    </div>
                </div>
            }
        </div>
    }

    @if (Comments != null && Comments.Count > 0)
    {
        <ViewCommentsC Comments="Comments" />
    }
</div>

@code {
    [Parameter] public int Id { get; set; }
    private JobDTO Job { get; set; } = new JobDTO();
    List<CommentDTO> Comments = new List<CommentDTO>();
    string title { get; set; }
    string bodyCol1 = "";
    string bodyCol2 = "";
    string bodyCol3 = "";

    protected override async Task OnParametersSetAsync()
    {
        var job = await jobRepository.GetJob(Id);
        Job = job;
        if (Job.Comments != null && Job.Comments.Count > 0)
        {
            var comments = mapper.Map<List<JobCommentDTO>, List<CommentDTO>>(Job.Comments.ToList());
            Comments = comments.ToList();
        }

        if (Job.Remarks.Length > 10)
        {
            bodyCol1 = Job.Remarks;
            string[] cols = bodyCol1.Split("<p>newColumn</p>");

            int colNum = 0;
            foreach (var aCol in cols)
            {
                colNum++;
                if (colNum == 1)
                {
                    bodyCol1 = aCol;
                }
                if (colNum == 2)
                {
                    bodyCol2 = aCol;
                }
                if (colNum == 3)
                {
                    bodyCol3 = aCol;
                }
            }
        }
    }

    private void OnButtonClick(string value)
    {
        JS.InvokeVoidAsync($"window.{value}");
    }
}
