@page "/addressPhotos/{addressId:int}"

@layout EditLayout
@inject IAddressRepository addressRepository
@inject IAddressPhotoRepository addressPhotoRepository
@attribute [Authorize]

<div class="row  mb-2 pt-2">
    <div class="col-10">
        <HeadingC Text="Address Photos: Caption - Photo - Order # - When" />
    </div>
    <div class="col text-center">
        <a href="address/edit/@AddressId" class="btnReturn">Return</a>
    </div>
</div>

@if (Address != null && Photos != null && Photos.Any())
{
    <div class="row ">
        <div class="col text-center">
            Home Address: <b>@Address.HomeAddress</b>
        </div>
    </div>
    <div class="row mt-3">
        @foreach (var item in Photos)
        {
            <div class="col-4">
                <div class="photoCard">
                    <div class="photoCaption text-center">
                        @item.Caption
                    </div>
                    <div class="photoBody text-center">
                        <img src="@item.PhotoUrl" class="img-fluid photoBorder" />
                    </div>
                    <div class="photoFooter">
                        <div class="row">
                            <div class="col-3 text-center">
                                @item.OrderBy
                            </div>
                            <div class="col text-center">
                                @item.PhotoDateStr
                            </div>
                            <div class="col text-end">
                                <a href="@($"addressPhoto/edit/{item.Id}")" class="btnEdit mb-2">Edit</a>
                                <button type="button" class="btnDelete btn-sm" onclick="@(() => OpenDeleteAddressPhotoDialog(item.Id))">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}

@if (DeleteDialogOpen)
{
    <DeleteModalC Text="@Text" OnClose="@OnDeleteDialogClose" />
}

@code {
    [Parameter] public int AddressId { get; set; }
    private AddressDTO Address { get; set; } = new AddressDTO();
    List<AddressPhotoDTO> Photos { get; set; } = new List<AddressPhotoDTO>();
    private int DeleteAddressPhotoId { get; set; } = 0;

    protected async override Task OnParametersSetAsync()
    {
        var address = await addressRepository.GetAddress(AddressId);
        Address = address;

        await LoadAddressPhotos();
        StateHasChanged();
    }

    private async Task LoadAddressPhotos()
    {
        var photos = await addressPhotoRepository.GetPhotos(AddressId);
        Photos = photos.ToList();
    }

    public bool DeleteDialogOpen { get; set; }
    public string Text { get; set; }

    async Task OnDeleteDialogClose(bool accepted)
    {
        if (accepted)
        {
            await addressPhotoRepository.Delete(DeleteAddressPhotoId);
            DeleteDialogOpen = false;
            await LoadAddressPhotos();
        }
        DeleteDialogOpen = false;
        StateHasChanged();
    }

    private void OpenDeleteAddressPhotoDialog(int id)
    {
        DeleteDialogOpen = true;
        DeleteAddressPhotoId = id;
        Text = "Do you want to delete this Address Photo?";
        StateHasChanged();
    }

}
